- if notice
  %p#notice.alert.alert-info=notice

%h1= @image.name

.show_content
  .row.show-grid
    .col-md-2
      %strong Alt
    .col-md-4=@image.alt

  .row.show-grid
    .col-md-2
      %strong Image
  .row.show-grid
    .col-md-10
      = image_tag @image.image.large.url
  - if @image.description.present?
    .row.show-grid
      .col-md-2
        %strong Descripions
      .col-md-6= @image.description